In [ ]:
my_list = [1, 2, 3, 4, 5]
for item in my_list:
    print(item)

1
2
3
4
5

In [6]:
list = [1, 3, 5, 7, 9]
i = 0
# Iterating using while loop
while i < len(list):
    print(list[i])
    i += 1

1
3
5
7
9

In [7]:


# Python3 code to iterate over a list
list = [1, 3, 5, 7, 9]

# Using list comprehension
[print(i) for i in list]

1
3
5
7
9

[None, None, None, None, None]

In [8]:
##Exception handeling
try:
    result = 10 / 0
except Exception as e:
    print(e,type(e))
else:
    print("No exception occurred.")
finally:
    print("This block always runs.")

division by zero <class 'ZeroDivisionError'>
This block always runs.

In [9]:
## List comprehension
num=[1,2,3,4,5,6]
square_num=[i**2 for i in num]
print(square_num)

[1, 4, 9, 16, 25, 36]

In [11]:
##if conditionin list comprehension
num=[1,2,3,4,5,6,8,9,10,12]
even_num=[i for i in num if i%2==0]
print(even_num)

[2, 4, 6, 8, 10, 12]

In [14]:
#flatenning of list  here we use 2 for loop to iterate this
list=[[1,2,3],[4,5,6],[7,8,9]]
flatten_list=[item for sublist in list for item in sublist]
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
## Generating a list of the Fibonacci sequence using a list comprehension
fib = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]

[fib[i-1]+ fib[i-2] for i in range(2,len(fib))]

[1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]