In [ ]:
##Q1 Sort the given list based on number using lamda function
list=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli',24936)]
sort_data=sorted(list,key=lambda x:x[1])
sort_data

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [ ]:
#Q2 find the square of the given number using map and lambda function
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = tuple(map(lambda x: x**2, numbers))
squares

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [ ]:
#Q3 convert the list into tuple of string using map and lambda function
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
string_tuple = tuple(map(lambda x: str(x), numbers))
print(string_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
#Q4 find product from 1 to 25 using reduce function
from functools import reduce
numbers = tuple(range(1, 26))
product = reduce(lambda x, y: x * y, numbers)
print("The product of numbers from 1 to 25 is:", product)

The product of numbers from 1 to 25 is: 15511210043330985984000000

In [ ]:
#Q5 filter the number in a given lsit who are divisible by 2 and 3
data=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
filtered_data=tuple(filter(lambda x:x%2==0 and x%3==0,data))
filtered_data

(6, 60, 90, 120)

In [ ]:
#Q6 find palindrome of a given list using lambda fucntion

data=['python', 'php', 'aba', 'radar', 'level']
palindrome=tuple(filter(lambda x:x==x[::-1],data))
palindrome

('php', 'aba', 'radar', 'level')